USE [QuanLyNhanVien]
GO
/****** Object:  Table [dbo].[BAC]    Script Date: 25/12/2019 10:39:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAC](
	[MaBac] [nvarchar](50) NOT NULL,
	[TenBac] [nvarchar](50) NULL,
 CONSTRAINT [PK_BAC] PRIMARY KEY CLUSTERED 
(
	[MaBac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 25/12/2019 10:39:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[MaBoPhan] [nvarchar](50) NOT NULL,
	[TenBoPhan] [nvarchar](50) NULL,
	[PhongBan] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_BoPhan] PRIMARY KEY CLUSTERED 
(
	[MaBoPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cong]    Script Date: 25/12/2019 10:39:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cong](
	[MaNhanVien] [nvarchar](50) NULL,
	[TenNhanVien] [nvarchar](50) NULL,
	[NgayCong] [int] NULL,
	[MaHSPC] [varchar](max) NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 25/12/2019 10:39:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MaCV] [nvarchar](50) NOT NULL,
	[TenCV] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANTOC]    Script Date: 25/12/2019 10:39:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANTOC](
	[MaDT] [nvarchar](50) NOT NULL,
	[TenDT] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_DANTOC] PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HESOLUONGNHANVIEN]    Script Date: 25/12/2019 10:39:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HESOLUONGNHANVIEN](
	[MaHSLuong] [nvarchar](50) NOT NULL,
	[MaNgachLuong] [nvarchar](50) NULL,
	[MaBAC] [nvarchar](50) NULL,
	[HSLuong] [float] NULL,
 CONSTRAINT [PK_HESOLUONGNHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaHSLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HESOPHUCAP]    Script Date: 25/12/2019 10:39:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HESOPHUCAP](
	[MaHSPC] [nvarchar](50) NOT NULL,
	[HSPC] [float] NULL,
 CONSTRAINT [PK_HESOPHUCAP] PRIMARY KEY CLUSTERED 
(
	[MaHSPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HONNHAN]    Script Date: 25/12/2019 10:39:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HONNHAN](
	[MaNV] [nvarchar](50) NOT NULL,
	[TenVoChong] [nvarchar](50) NULL,
	[NTDuoi15] [smallint] NULL,
	[NTTren15] [smallint] NULL,
	[NTTren60] [smallint] NULL,
 CONSTRAINT [PK_HONNHAN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGACH]    Script Date: 25/12/2019 10:39:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGACH](
	[MaNgach] [nvarchar](50) NOT NULL,
	[TenNgach] [nvarchar](50) NULL,
 CONSTRAINT [PK_NGACH] PRIMARY KEY CLUSTERED 
(
	[MaNgach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 25/12/2019 10:39:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[TenNhanVien] [nvarchar](50) NULL,
	[MaBac] [nvarchar](50) NULL,
	[MaBoPhan] [nvarchar](50) NULL,
	[MaCV] [nvarchar](50) NULL,
	[MaHSLuong] [nvarchar](50) NULL,
	[MaNV] [nvarchar](50) NULL,
	[MaNgach] [nvarchar](50) NULL,
	[MaPB] [nvarchar](50) NULL,
	[MaQT] [nvarchar](50) NULL,
	[MaTG] [nvarchar](50) NULL,
	[MaTDHV] [nvarchar](50) NULL,
	[MaTDNN] [nvarchar](50) NULL,
	[MaTDTH] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
	[MaDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 25/12/2019 10:39:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MaPB] [nvarchar](50) NOT NULL,
	[TenPB] [nvarchar](50) NULL,
	[SoLuongNhanVien] [smallint] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHONGBAN] PRIMARY KEY CLUSTERED 
(
	[MaPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUOCTICH]    Script Date: 25/12/2019 10:39:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUOCTICH](
	[MaQT] [nvarchar](50) NOT NULL,
	[TenQT] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_QUOCTICH] PRIMARY KEY CLUSTERED 
(
	[MaQT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 25/12/2019 10:39:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TaiKhoan] [nchar](50) NULL,
	[MatKhau] [nchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TienLuong]    Script Date: 25/12/2019 10:39:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TienLuong](
	[MaNhanVien] [nvarchar](50) NULL,
	[TenNhanVien] [nvarchar](50) NULL,
	[MaHSLuong] [nvarchar](50) NULL,
	[TienLuong] [float] NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TONGIAO]    Script Date: 25/12/2019 10:39:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TONGIAO](
	[MaTG] [nvarchar](50) NOT NULL,
	[TenTG] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_TONGIAO] PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRINHDOHOCVAN]    Script Date: 25/12/2019 10:39:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRINHDOHOCVAN](
	[MaTDHV] [nvarchar](50) NOT NULL,
	[TenTDHV] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_TRINHDOHOCVAN] PRIMARY KEY CLUSTERED 
(
	[MaTDHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRINHDONGOAINGU]    Script Date: 25/12/2019 10:39:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRINHDONGOAINGU](
	[MaTDNN] [nvarchar](50) NOT NULL,
	[TenTDNN] [nvarchar](50) NULL,
 CONSTRAINT [PK_TRINHDONGOAINGU] PRIMARY KEY CLUSTERED 
(
	[MaTDNN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRINHDOTINHOC]    Script Date: 25/12/2019 10:39:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRINHDOTINHOC](
	[MaTDTH] [nvarchar](50) NOT NULL,
	[TenTDTH] [nvarchar](50) NULL,
 CONSTRAINT [PK_TRINHDOTINHOC] PRIMARY KEY CLUSTERED 
(
	[MaTDTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[BAC] ([MaBac], [TenBac]) VALUES (N'1', N'Bậc 1')
INSERT [dbo].[BAC] ([MaBac], [TenBac]) VALUES (N'2', N'Bậc 2')
INSERT [dbo].[BAC] ([MaBac], [TenBac]) VALUES (N'3', N'Bậc 3')
INSERT [dbo].[BOPHAN] ([MaBoPhan], [TenBoPhan], [PhongBan], [GhiChu]) VALUES (N'BV', N'Bảo Vệ', N'', N'')
INSERT [dbo].[BOPHAN] ([MaBoPhan], [TenBoPhan], [PhongBan], [GhiChu]) VALUES (N'GD', N'Giảng Dạy', N'', N'')
INSERT [dbo].[BOPHAN] ([MaBoPhan], [TenBoPhan], [PhongBan], [GhiChu]) VALUES (N'KT', N'Kiểm Toán', N'', N'')
INSERT [dbo].[Cong] ([MaNhanVien], [TenNhanVien], [NgayCong], [MaHSPC], [Thang], [Nam]) VALUES (N'111111                                            ', N'Huỳnh Ngọc Liêm', 26, N'PC1', 12, 2019)
INSERT [dbo].[Cong] ([MaNhanVien], [TenNhanVien], [NgayCong], [MaHSPC], [Thang], [Nam]) VALUES (N'111112                                            ', N'Nguyễn Phi Phú', 20, N'PC1', 12, 2019)
INSERT [dbo].[Cong] ([MaNhanVien], [TenNhanVien], [NgayCong], [MaHSPC], [Thang], [Nam]) VALUES (N'111113                                            ', N'Nguyễn Văn A                       ', 23, N'PC2', 12, 2019)
INSERT [dbo].[CHUCVU] ([MaCV], [TenCV], [GhiChu]) VALUES (N'GD', N'Giám Đốc', NULL)
INSERT [dbo].[CHUCVU] ([MaCV], [TenCV], [GhiChu]) VALUES (N'NV', N'Nhân Viên', NULL)
INSERT [dbo].[CHUCVU] ([MaCV], [TenCV], [GhiChu]) VALUES (N'PGD', N'Phó Giám Đốc', NULL)
INSERT [dbo].[DANTOC] ([MaDT], [TenDT], [GhiChu]) VALUES (N'DT1', N'Kinh', N'')
INSERT [dbo].[DANTOC] ([MaDT], [TenDT], [GhiChu]) VALUES (N'DT2', N'Tài', N'')
INSERT [dbo].[DANTOC] ([MaDT], [TenDT], [GhiChu]) VALUES (N'DT3', N'Thái', N'')
INSERT [dbo].[HESOLUONGNHANVIEN] ([MaHSLuong], [MaNgachLuong], [MaBAC], [HSLuong]) VALUES (N'HSBV11', N'BV1', N'1', 1)
INSERT [dbo].[HESOLUONGNHANVIEN] ([MaHSLuong], [MaNgachLuong], [MaBAC], [HSLuong]) VALUES (N'HSBV12', N'BV1', N'2', 2)
INSERT [dbo].[HESOLUONGNHANVIEN] ([MaHSLuong], [MaNgachLuong], [MaBAC], [HSLuong]) VALUES (N'HSBV13', N'BV1', N'3', 3)
INSERT [dbo].[HESOPHUCAP] ([MaHSPC], [HSPC]) VALUES (N'PC0', 0)
INSERT [dbo].[HESOPHUCAP] ([MaHSPC], [HSPC]) VALUES (N'PC1', 0.1)
INSERT [dbo].[HESOPHUCAP] ([MaHSPC], [HSPC]) VALUES (N'PC2', 0.2)
INSERT [dbo].[HONNHAN] ([MaNV], [TenVoChong], [NTDuoi15], [NTTren15], [NTTren60]) VALUES (N'1', NULL, NULL, NULL, NULL)
INSERT [dbo].[HONNHAN] ([MaNV], [TenVoChong], [NTDuoi15], [NTTren15], [NTTren60]) VALUES (N'2', NULL, NULL, NULL, NULL)
INSERT [dbo].[NGACH] ([MaNgach], [TenNgach]) VALUES (N'BV1', N'Nhân Viên Bảo Vệ')
INSERT [dbo].[NGACH] ([MaNgach], [TenNgach]) VALUES (N'BV2', N'Quản Lý Đội Bảo Vệ')
INSERT [dbo].[NGACH] ([MaNgach], [TenNgach]) VALUES (N'GD1', N'Giảng Viên Chính')
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [MaBac], [MaBoPhan], [MaCV], [MaHSLuong], [MaNV], [MaNgach], [MaPB], [MaQT], [MaTG], [MaTDHV], [MaTDNN], [MaTDTH], [GhiChu], [MaDT]) VALUES (N'NV1', N'Vũ Anh Khoa', N'1', N'BV', N'GD', N'HSBV11', N'1', N'BV1', N'ATTT', N'In', N'KG', N'CN', N'IE4', N'A', N'', N'DT1')
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [MaBac], [MaBoPhan], [MaCV], [MaHSLuong], [MaNV], [MaNgach], [MaPB], [MaQT], [MaTG], [MaTDHV], [MaTDNN], [MaTDTH], [GhiChu], [MaDT]) VALUES (N'NV2', N'Anh Nam', N'1', N'BV', N'GD', N'HSBV11', N'1', N'BV1', N'ATTT', N'In', N'KG', N'CN', N'IE4', N'A', N'', N'DT1')
INSERT [dbo].[PHONGBAN] ([MaPB], [TenPB], [SoLuongNhanVien], [GhiChu]) VALUES (N'ATTT', N'An Toàn Thông Tin', 0, N'')
INSERT [dbo].[PHONGBAN] ([MaPB], [TenPB], [SoLuongNhanVien], [GhiChu]) VALUES (N'CNPM', N'Khoa Công Nghệ Phần Mềm', 0, NULL)
INSERT [dbo].[PHONGBAN] ([MaPB], [TenPB], [SoLuongNhanVien], [GhiChu]) VALUES (N'CTSV', N'Phòng Công Tác Sinh Viên', 0, NULL)
INSERT [dbo].[QUOCTICH] ([MaQT], [TenQT], [GhiChu]) VALUES (N'In', N'Ấn Độ', NULL)
INSERT [dbo].[QUOCTICH] ([MaQT], [TenQT], [GhiChu]) VALUES (N'UK', N'Anh', NULL)
INSERT [dbo].[QUOCTICH] ([MaQT], [TenQT], [GhiChu]) VALUES (N'US', N'Mỹ', NULL)
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau]) VALUES (N'liem                                              ', N'123                                               ')
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau]) VALUES (N'liem123                                           ', N'123456                                            ')
INSERT [dbo].[TienLuong] ([MaNhanVien], [TenNhanVien], [MaHSLuong], [TienLuong], [Thang], [Nam], [GhiChu]) VALUES (N'111111                                            ', N'Huỳnh Ngọc Liêm', N'HSBV11                                            ', 20000, 12, 2019, NULL)
INSERT [dbo].[TienLuong] ([MaNhanVien], [TenNhanVien], [MaHSLuong], [TienLuong], [Thang], [Nam], [GhiChu]) VALUES (N'111112                                            ', N'Nguyễn Phi Phú', N'HSBV13                                            ', 60000, 11, 2019, NULL)
INSERT [dbo].[TienLuong] ([MaNhanVien], [TenNhanVien], [MaHSLuong], [TienLuong], [Thang], [Nam], [GhiChu]) VALUES (N'111113                                            ', N'Nguyễn Văn A', N'HSBV11                                            ', 46000, 11, 2019, NULL)
INSERT [dbo].[TONGIAO] ([MaTG], [TenTG], [GhiChu]) VALUES (N'KG', N'Không', NULL)
INSERT [dbo].[TONGIAO] ([MaTG], [TenTG], [GhiChu]) VALUES (N'PG', N'Phật Giáo', NULL)
INSERT [dbo].[TONGIAO] ([MaTG], [TenTG], [GhiChu]) VALUES (N'TCG', N'Thiên Chúa Giáo', NULL)
INSERT [dbo].[TRINHDOHOCVAN] ([MaTDHV], [TenTDHV], [GhiChu]) VALUES (N'CN', N'Cử Nhân', NULL)
INSERT [dbo].[TRINHDOHOCVAN] ([MaTDHV], [TenTDHV], [GhiChu]) VALUES (N'GS', N'Giáo Sư', NULL)
INSERT [dbo].[TRINHDOHOCVAN] ([MaTDHV], [TenTDHV], [GhiChu]) VALUES (N'KS', N'Kỹ Sư', NULL)
INSERT [dbo].[TRINHDONGOAINGU] ([MaTDNN], [TenTDNN]) VALUES (N'IE4', N'Ielts 4')
INSERT [dbo].[TRINHDONGOAINGU] ([MaTDNN], [TenTDNN]) VALUES (N'IE6.5', N'Ielts 6.5')
INSERT [dbo].[TRINHDONGOAINGU] ([MaTDNN], [TenTDNN]) VALUES (N'IE8', N'Ielts 8')
INSERT [dbo].[TRINHDOTINHOC] ([MaTDTH], [TenTDTH]) VALUES (N'A', N'Tin Học Văn Phòng')
INSERT [dbo].[TRINHDOTINHOC] ([MaTDTH], [TenTDTH]) VALUES (N'B', N'Tin Học Quản Lý')
INSERT [dbo].[TRINHDOTINHOC] ([MaTDTH], [TenTDTH]) VALUES (N'C', N'Tin Học Kế Toán')
ALTER TABLE [dbo].[HESOLUONGNHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_HESOLUONGNHANVIEN_BAC] FOREIGN KEY([MaBAC])
REFERENCES [dbo].[BAC] ([MaBac])
GO
ALTER TABLE [dbo].[HESOLUONGNHANVIEN] CHECK CONSTRAINT [FK_HESOLUONGNHANVIEN_BAC]
GO
ALTER TABLE [dbo].[HESOLUONGNHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_HESOLUONGNHANVIEN_NGACH] FOREIGN KEY([MaNgachLuong])
REFERENCES [dbo].[NGACH] ([MaNgach])
GO
ALTER TABLE [dbo].[HESOLUONGNHANVIEN] CHECK CONSTRAINT [FK_HESOLUONGNHANVIEN_NGACH]
GO
